.fa {
    color: #3498db;
}
.fa-arrow-left:hover {
    color: RGB(132, 196, 62)!important;
}
.primary {
    min-height: 25vh;
    border-color: white;
    border-radius: 0px;
    background-color: transparent;
}
.primary:active,
.primary:focus,
.primary:hover {
    background-color: transparent !important;
    border: none;
}
.primary:active {
    box-shadow: rgba(0, 0, 0, 0.121569) 2px 2px 6px 2px inset;
    border: 1px solid silver !important;
}
.secondary,
.tertiary,
.final {
    margin: 10px !important;
    min-height: 20vh;
    border-radius: 10px !important;
    border-color: #3498db;
    background-color: #3498db;
    color: white;
}
.secondary:hover,
.tertiary:hover,
.final:hover {
    background-color: white;
    color: #3498db;
    border-color: #3498db;
    -webkit-transition: all 0.20s linear;
}
.back {
    border-radius: 200%;
    width: 50px;
    height: 50px;
    display: inline-block;
}
.disabled {
    opacity: 1 !important;
    cursor: auto !important;
}
.text {
    font-size: 20px;
    font-family: 'Open Sans';
    white-space: pre-wrap;
}
.backgroundinput > p {
    display: block;
    clear: both;
    font-weight: bold;
    padding-top: 15px;
    margin: 10px;
}
.pickissue {
    font-family: 'Open Sans' !important;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 20px;
    color: RGB(11, 18, 35);
    padding-top: 20px;
}
button > svg {
    width: 110px !important;
    height: 110px;
    fill: #3498db;
    stroke-color: #3498db;
    padding-bottom: 10px;
}
path,
circle,
polygon {
    fill: #3498db !important;
}
.primary:hover path,
.primary:hover circle,
.primary:hover polygon,
.primary:hover svg {
    fill: RGB(132, 196, 62)!important;
    -webkit-transition: all 0.20s linear;
}
.detailinputtitle {
    font-family: 'Open Sans';
    font-size: 17px;
    clear: both;
    display: block;
    padding-top: 40px;
}

/* scale and fade */

.pt-page-scaleUp {
    -webkit-animation: scaleUp .5s ease both;
    animation: scaleUp .5s ease both;
}
.pt-page-scaleUpDown {
    -webkit-animation: scaleUpDown 0.3s ease both;
    animation: scaleUpDown 0.3s ease both;
}
.pt-page-scaleDownCenter {
    -webkit-animation: scaleDownCenter .3s ease-in both;
    animation: scaleDownCenter .3s ease-in both;
}

/********************************* keyframes **************************************/


/* scale and fade */

@-webkit-keyframes scaleUp {
    from {
        opacity: 0;
        -webkit-transform: scale(.8);
    }
}
@keyframes scaleUp {
    from {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
}
@-webkit-keyframes scaleUpDown {
    from {
        opacity: 0;
        -webkit-transform: scale(1.1);
    }
}
@keyframes scaleUpDown {
    from {
        opacity: 0;
        -webkit-transform: scale(1.1);
        transform: scale(1.2);
    }
}
@-webkit-keyframes scaleDownCenter {
    from {}
    to {
        opacity: 0;
        -webkit-transform: scale(.7);
    }
}
@keyframes scaleDownCenter {
    from {}
    to {
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
}
